<v-dialog v-model="dialogVisible" width="500">
    <v-list>
        <div>
            <div class="fa-close ml-auto" @click="hideModal"></div>
        </div>
        <div class="d-flex flex-column align-items-center">
            <h3>Вы действительно хотите удалить пользователя?</h3>
            <div class="mt-2 d-flex align-center">
                <v-btn outlined @click="[modalFunction(userId), hideModal()]">Да</v-btn>
                <v-btn text @click="hideModal">Нет</v-btn>
            </div>
        </div>
    </v-list>
</v-dialog>