//variables
$greenBorder: #628272;
$greenHover: #4f7563;
$greenFont: #83AAA9;
$greenShadow: #94bda8;
$background: #F7F7F9;
$greyColor: #A0A0A0;

//import
@import './icons.scss',

        'components/sidebar.scss',
        'components/template.scss',
        'components/search.scss',
        'components/templatePage.scss',
        'components/profilePage.scss',
        'components/viewPage.scss',
        'components/loginPage.scss';