<div class="page view">
    <h1>{{modifiedArticle.name}}</h1>
    <div v-if="modifiedArticle.files && modifiedArticle.files.length" class="view__carousel">
        <carousel :per-page="1" autoplay autoplayHoverPause>
            <slide v-for="image in modifiedArticle.files" :key="`${image}`">
                <img class="view__carousel-image" :src="`http://localhost:5000/${image}`" alt="carousel-image">
            </slide>
        </carousel>
    </div>
    <div class="ql-editor" v-html="modifiedArticle.description"></div>
    <div>
        <div class="d-flex flex-column">
            <p class="view__comments-title">Комментарии</p>
            <div class="view__comments-text-area d-flex justify-end">
                <v-textarea rows="4" v-model="commentObj.comment"></v-textarea>
                <v-btn class="mt-auto ml-5" outlined @click="reqSendComment">Отправить</v-btn>
            </div>
        </div>
        <div class="view__comments-messages" v-if="modifiedArticle.comments && modifiedArticle.comments.length">
            <div class="view__comments-comment d-flex mt-3"
                 v-for="comment in modifiedArticle.comments"
                 :key="`${comment.date}_${comment.userId}`">
                <img v-if="!getCommentUser(comment.userId, 'photo')"
                     class="view__comments-img"
                     src="../../assets/no-photo.jpg"
                     alt="user-photo">
                <img v-else class="view__comments-img" :src="modifiedUserPhoto(getCommentUser(comment.userId, 'photo'))" alt="user-photo">
                <div class="d-flex flex-column ml-3">
                    <div class="d-flex align-center">
                        <span class="view__comments-name"> {{ getCommentUser(comment.userId, 'fullName') }} </span>
                        <span class="view__comments-date ml-5"> {{ modifiedDate(comment.date) }} </span>
                        <i v-if="comment.userId === USER.id || USER.role === 'ADMIN'"
                           class="fa fa-trash ml-5"
                           @click="reqDeleteComment(comment.commentId)"
                        >
                        </i>
                    </div>
                    <p> {{ comment.comment }} </p>
                </div>
            </div>
        </div>
    </div>
    <b-toast
            id="infoToast"
            toaster="b-toaster-top-full custom-toast"
            :variant="toastInfo.isSuccess ? 'success' : 'error'"
            auto-hide-delay="2500">
        <template v-slot:toast-title>{{toastInfo.message}}</template>
    </b-toast>
</div>