<div class="login-page d-flex">
    <img class="login-page__image" src="../../assets/login.png" alt="login-page-image">
    <div class="login-page__login-form d-flex flex-column align-center justify-center">
        <h1>Регистрация</h1>
        <div class="login-page__login-form-field">
            <p class="login-page__login-form-field-title">Логин</p>
            <b-form-input
                    class="login-page__login-form-field-input"
                    :class="{'login-page__login-form-field-error':error.email,
                            'login-page__login-form-field-error':error.emailValid}"
                    placeholder="Почта для входа"
                    type="text"
                    v-model="formData.email"
                    @blur="[isRequired('email'), isValidEmail()]"
            >
            </b-form-input>
            <animation :duration="200" :name="'slide-down-fade'" :changeHeight="true">
                <div class="error-wrapper d-flex align-center" v-if="error.email">
                    <span class="fa-error mr-1"></span>
                    <span>Это поле обязательно для заполнения</span>
                </div>
            </animation>
            <animation :duration="200" :name="'slide-down-fade'" :changeHeight="true">
                <div class="error-wrapper d-flex align-center" v-if="error.emailValid">
                    <span class="fa-error mr-1"></span>
                    <span>Введённая почта не валидна</span>
                </div>
            </animation>
        </div>
        <div class="login-page__login-form-field">
            <p class="login-page__login-form-field-title">Пароль</p>
            <b-form-input
                    class="login-page__login-form-field-input"
                    placeholder="Введите пароль"
                    :class="{'login-page__login-form-field-error':error.password,
                    'login-page__login-form-field-error':error.passwordValid}"
                    type="password"
                    v-model="formData.password"
                    @blur="[isRequired('password'), isValidPassword(), isEqualPasswords()]"
            >
            </b-form-input>
            <animation :duration="200" :name="'slide-down-fade'" :changeHeight="true">
                <div class="error-wrapper d-flex align-center" v-if="error.password">
                    <span class="fa-error mr-1"></span>
                    <span>Это поле обязательно для заполнения</span>
                </div>
            </animation>
            <animation :duration="200" :name="'slide-down-fade'" :changeHeight="true">
                <div class="error-wrapper d-flex align-center" v-if="error.passwordValid">
                    <span class="fa-error mr-1"></span>
                    <span>Пароль должен содержать больше 7 символов</span>
                </div>
            </animation>
        </div>
        <div class="login-page__login-form-field">
            <p class="login-page__login-form-field-title">Подтвердите пароль</p>
            <b-form-input
                    class="login-page__login-form-field-input"
                    placeholder="Подтвердите пароль"
                    v-model="formData.confirmPassword"
                    :class="{'login-page__login-form-field-error':error.confirmPassword}"
                    type="password"
                    @blur="[isRequired('confirmPassword'), isEqualPasswords()]"
            >
            </b-form-input>
            <animation :duration="200" :name="'slide-down-fade'" :changeHeight="true">
                <div class="error-wrapper d-flex align-center" v-if="error.confirmPassword">
                    <span class="fa-error mr-1"></span>
                    <span>Это поле обязательно для заполнения</span>
                </div>
            </animation>
            <animation :duration="200" :name="'slide-down-fade'" :changeHeight="true">
                <div class="error-wrapper d-flex align-center" v-if="error.equalPasswords">
                    <span class="fa-error mr-1"></span>
                    <span>Пароли должны совпадать</span>
                </div>
            </animation>
        </div>
        <v-btn
                class="login-form__button"
                outlined
                :disabled="disabledButton"
                @click="reqRegistration"
        >
            Регистрация
        </v-btn>
        <span class="mt-5">Уже зарегистрированы?
            <span @click="$router.replace({path: '/login'})" class="login-page__href" href="#">Войти</span>
        </span>
    </div>
    <b-toast
            id="infoToast"
            toaster="b-toaster-top-full custom-toast"
            :variant="toastInfo.isSuccess ? 'success' : 'error'"
            auto-hide-delay="2500">
        <template v-slot:toast-title>{{toastInfo.message}}</template>
    </b-toast>
</div>