.page {
    padding: 50px;

    &__articles {

        &-img-wrapper {
            height: 78%;
            border-bottom: 1px solid $greyBorder;
        }

        &-item {
            width: 300px;
            height: 250px;
            border-radius: 5px;
            border: 1px solid $greyBorder;
            position: relative;

            &-wrapper {
                padding: 35px;
            }

            &-img {
                width: 100%;
                height: 100%;
                border-radius: 5px 5px 0 0;
                z-index: -1;
            }

            &-title-wrapper {
                padding: 10px;
            }

            &-title {
                font-size: 20px;
                font-weight: bold;
            }

            &-description {
                width: 100%;
                font-size: 14px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}