.app {
    display: flex;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0 !important;

    > .wrapper {
        min-height: 100vh;
        flex: 1;
        display: flex;

        & span{
            letter-spacing: 1px;
        }

        & ul li {
            list-style: none;
        }

        & .content {
            width: 100%;
        }
    }
}

.error-wrapper {
    & span {
        color: red;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.v-btn--outlined{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    height: 50px !important;
    background: $greenBorder;
    border: none;
    color: white !important;
}

.image-file {
    width: 70%;
}

.v-list {
    padding: 20px !important;
}

.ql-editor {
    min-height: auto !important;
}